@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garante que o site ocupe a altura e largura total */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita rolagem lateral indesejada */
}